### 1. Problem Statement 
###### Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [5]:
email = input("Email Address: ")
company_name = email.split("@")[1].split(".")[0]
print("\nCompany Name: ",company_name)

Email Address: info@letsupgrade.in

Company Name:  letsupgrade

### 2. Problem Statement 
###### Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically. Input Format: The first line of input contains words separated by the comma. Output Format: Print the sorted words separated by the comma.

In [18]:
str1 = input("Enter few words seperated with commas: ")

str_sort = sorted(str1.split(","))
print("After Sorting the words Alphabetically: \n",str_sort)

Enter few words seperated with commas: without,hello,bag,world
After Sorting the words Alphabetically:
 ['bag', 'hello', 'without', 'world']

### 3. Problem Statement 
###### Create your own Jupyter Notebook for Sets.

### Sets

In Python sets are written with curly brackets { }

-> Mutable

-> Holds Mixed Datatypes

-> Unique elements allowed

-> Doesn't preserve the order

-> Indexing isn't supported

-> List cannot be a part of sets

In [20]:
set1={1.0,1,"Hello","Manish",(1,2,4)} 
print("Set1:", set1) 

set2 = {1,2,3,5,7,6,4,3.0,2,10,38,72,16} 
print("Set2: ", set2)

Set1: {'Manish', 1.0, 'Hello', (1, 2, 4)}
Set2:  {1, 2, 3, 4, 5, 6, 7, 38, 72, 10, 16}

### Sets Functions

-> len(), Returns the length of a set. This is the number of elements in it.

-> max(), Returns the item from the set with the highest value.

-> min(), Returns the item in the Python set with the lowest value.

-> any(), Returns True even if one item in the set has a Boolean value of True.

-> sorted(), Returns a sorted python set to list. It is sorted in ascending order, but it doesnâ€™t modify the original set.

In [21]:
#len()
print("Length of set1:\n", len(set1),"\n")

#max()
print("Highest item present in set2:\n",max(set2),"\n")

#min()
print("Lowest item present in set2:\n",min(set2),"\n")

#any()
print("If one item in set1 has a Boolean value:\n",any(set1),"\n")

#sorted()
print("Sorts set2 in ascending order:\n",sorted(set2),"\n")

Length of set1:
 4

Highest item present in set2:
 72

Lowest item present in set2:
 1

If one item in set1 has a Boolean value:
 True

Sorts set2 in ascending order:
 [1, 2, 3, 4, 5, 6, 7, 10, 16, 38, 72]

### Sets Methods

-> union(), performs the union operation on two or more Python sets.

-> intersection(), takes as argument sets, and returns the common items in all the sets.

-> difference(), returns the difference of two or more sets. It returns as a set.

-> add(), Adds an element to the set

-> clear(), Empties the Python set.

In [24]:
setA = {1,2,3,4,5,9}
setB = {4,5,6,7,8,10}
setC = {2,5,6,7}

print("Items present in setA:\n",setA,"\n")
print("Items present in setB:\n",setB,"\n")
print("Items present in setC:\n",setC,"\n")

#uinion()
print("Union of setA and setB(setA | setB):\n",setA.union(setB),"\n")

#intersection()
print("Intersection(setA & setB):\n",setA.intersection(setB),"\n")

#difference()
print("Difference(setB-setA):\n",setB.difference(setA),"\n")

#add()
setC.add('abc')
print("Added an element 'abc' to setC:\n",setC,"\n")

#clear()
setC.clear()
print("Clears the elements present in set\n setC:",setC)

Items present in setA:
 {1, 2, 3, 4, 5, 9}

Items present in setB:
 {4, 5, 6, 7, 8, 10}

Items present in setC:
 {2, 5, 6, 7}

Union of setA and setB(setA | setB):
 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Intersection(setA & setB):
 {4, 5}

Difference(setB-setA):
 {8, 10, 6, 7}

Added an element 'abc' to setC:
 {2, 5, 6, 7, 'abc'}

Clears the elements present in set
 setC: set()

### 4. Problem Statement 
###### Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [42]:
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1) if x not in lst] 
lst = [int(x) for x in input("Enter integers ranging 1 to n: ").split()]
print(find_missing(lst))

Enter integers ranging 1 to n: 10 13 16 20
[11, 12, 14, 15, 17, 18, 19]

### 5. Problem Statement 
###### With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [6]:
lst = [int(x) for x in input("Enter numbers seperated by comma: ").split(',')]
new_lst = []

print("\nNew list without duplicate values: ")
for i in lst:
    if i not in new_lst:
        new_lst.append(i)
        print(i,end = ' ')

Enter numbers seperated by comma: 12,12,13,17,23,12,78,34,13

New list without duplicate values:
12 13 17 23 78 34